html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 1em "Arial Narrow", sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus { outline: 0 }

.app {
  position: relative;
  height: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.7);
}

.popup__inner {
  position: absolute;
  margin: 0;
  top: 40%;
  right: 0;
  left: 50%;
  z-index: 20;
  width: 85%;
  min-width: 280px;
  max-width: 800px;
  min-height: 450px;
  background: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.popup__body{
  border-top: 1px solid #ccc;
}
.popup__title {
  padding: 0 25px;
  /*margin-bottom: 15px;*/
  font-size: 18px;
}

.popup__close {
  position: absolute;
  top: -21px;
  right: -18px;
}

button {
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  background: #42ABE1;
  border: 1px solid #2A6D8E;
  padding: 8px 15px;
  color: #ffffff;
  outline: none;
}
.button-link{
  position: relative;
  background: none;
  border: none;
  color: #0076B2;
  padding: 0;
  /*margin-left: 10px;*/
}
.button-link span{
  display: inline-block;
  border-bottom: 1px dashed;
  margin-left: 3px;
}
.button-grey{
  color: #777;
}

.button-red{
  color: #DF1700;
}

.icon-ok:before{
  content: '\2714';
}
.icon-cancel:before{
  content: '\2716';
  font-size: 13px;
}
.icon-add:before{
  content: '+';
  font-weight: bold;
}
.icon-edit:before{
  content: '\270e';
    font-size: 11px;
}

.button-remove{
  background: #E86858;
  border: 1px solid red;
  text-transform: uppercase;
}

.button-close{
  font-size: 36px;
  padding: 0 8px;
  border-radius: 10px;
  border: none;
}

input, textarea{
  background: #CEE6F2;
  border: 1px solid #CEE6F2;
}
textarea{
  resize: none;
  padding: 10px;
}

.group{
  display: flex;
  padding: 5px 25px;
  border-top: 1px solid #ccc;
}

.glossary__buttons{
  padding: 5px 25px;
  border-top: 1px solid #ccc;
}

.glossary-search{
  margin: 15px 25px;
  position: relative;
}

.glossary-search__image{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.glossary-search__image svg{
  width: 100%;
  height: 100%;
}

.glossary-search__input{
  height: 40px;
  width: 100%;
  padding: 0 8px;
  border: none;
  font-size: 14px;
  padding-left: 40px;
}

.glossary-search__input::placeholder{
  color: #88BBD5;
}

.terms__item{
  position: relative;
  margin-bottom: 10px;
}

.term-input{
  height: 40px;
  padding: 0 35px 0 8px;
}

.icon-remove:after{
  content: '\2716';
  font-size: 20px;
}
.terms__item .icon-remove{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #0076B2;
  cursor: pointer;
}
.groups{
  display: flex;
  margin: 25px;
}

.group__terms{
  width: 215px;
}
.group__description{
  flex: 1;
  margin: 0 15px;
}
.group__buttons{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: flex-start;
  margin: 0 10px;
}
